@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 3.3em;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;    
    line-height: 2em;   
    padding-left: 30px;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.479);
    width: 400px;
   
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(68, 67, 67);
    color: white;
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
}

